/* *, ::after, ::before {
    box-sizing: border-box;
}

html, body {
    height: 100%;
} */
.row {
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: flex-start; */
    width: 100%;
    margin: 20px;
}

.plant-details-card-y {
    /* max-width: 600px; */
    min-width: 500px;
    background-color: white;
    /* width: 100%; */
    padding: 10px;
    margin: 2px;
}


img.plant-details-imgurl {
    margin-left: 20px;
}

.plant-details-name, .plant-details-botanical {
    /* padding: 20px; */
    font-weight: 600;
    text-align: left;
}

.plant-details-botanical {
    font-size: 40px;
    font-style: italic;
    border: none;
}

.plant-details-name {
    font-size: 50px;
    border: none;
}

.plant-card-details-group, .button-section-header {
    text-align: left;
}

.plant-card-details {
    list-style-type: none;
    border-bottom: 0.03em solid lightgrey;
    /* word-wrap: break-word; */
    /* border-style: inset; */
    /* opacity: 0.5; */
}

.water-button {
    border-radius: 4px; 
    padding: 5px;
}

button.always {
    /* display: none; Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 100px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  background-color: grey; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */   
}

button.always:hover {
    background-color: lightgrey;
}

.plant-details-label {
    /* width: 100%; */
    text-align: left;
    margin-left: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
    font-weight: bold;
}

textarea.plant-textarea {
    width: 80vw;
    height: 150px;
    /* resize: none; */
    border: none;
    margin-left: 20px;
    margin-right: 0;
    padding: 0px;
    border-bottom: 0.03em solid lightgrey;
}

input.plant-details {
    margin-left: 20px;
    border: none;
    /* width: 250px; */
}

input.plants-details-name {
    margin-left: 20px;
    border: none;
    /* width: 500px; */
}

select.plant-details {
    margin-left: 20px;
    border: none;
}
/* 
//need this if rendering in-line
//commented out now that I'm using a textarea
.plant-description {
    white-space: pre-wrap;
} */

/* .plant-details-section {
    margin-left: 20px;
    text-align: left;
} */

.plant-details-group {
    display:grid;
    grid-template-columns: max-content 1fr;
    grid-gap:5px;
    padding-bottom: 20px;
}

.plant-details-label {
    text-align: right;
}

.plant-details-label:after {
    content: ":";
}
.plant-details-left {
    width: 40vw;
    margin-right: 50px;
}

.plants-details-right {
    width: 40vw;
    margin-right: 50px;
}

.color-coding {
    text-align: left;
    margin-bottom: 10px;
    /* justify-content: start; */
}

.color-coding-details {
    margin: 0;
}