.forecast-plant-hardiness-section {
    background-color: whitesmoke;
    padding: 8px;
    margin-bottom: 10px;
    border: 3px solid grey;
    box-shadow: 6px 8px rgba(0, 0, 0, 0.4);
    /* border-radius: 30px; */
}

.weather-icon {
    width: 60px;
    height: 60px;
}

.low-temp {
    color: gray;
}

.forecast-options {
    grid-area: sort;
    display: flex;
    justify-content: space-between;
}

.forecast-weather {
    margin: 10px;
}

.forecast-alloutdoor {
    display: flex;
    justify-content: space-between;
}


